<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ServiceBusConnectionString" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="Ahhhhhhh"/>
    <add key="LoggerConnectionString" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="Server=(local);Database=AppLogs;MultipleActiveResultSets=true;Trusted_Connection=True;" />
    <add key="AzureStorageConnectionString" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="booooooooo"/>    
  </appSettings>
  
</configuration>